form {
  width: 100%;
  height:90vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.input_form {
  width: 50%;
  height: 40vh;
  text-align: center;
  border: solid 1px gray;
}

input {
  padding-left: 20px;
  width:50%;
  height:50px;
  border-radius: 2em;
  line-height: 50px;
  margin-bottom: 20px;
}
